body {
    margin: 0;
        padding: 0;
        width: 100%; /* full window width */
        text-align: center;
}

.body = body {
        width: 95%; /* of body width */
        height: 100%;
}


.heading {
    width: auto;
    height: 30px;
}

.nav {
    display: inline-block;
    text-align: start;
    height: 30px;
    width: 100%;
}
